@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>


<div id="tags">
  <a href="" rel="7">peace</a>
  <a href="" rel="3">unity</a>
  <a href="" rel="10">love</a>
  <a href="" rel="5">having fun</a>
</div>

@section Scripts {
    <script type="text/javascript" src="~/lib/tagcloud/jquery.tagcloud.js"></script>
    <script type="text/javascript" src="~/js/mytagcloud.js"></script>
}