@model Tuple<IEnumerable<TagResult>, IEnumerable<TagResult>>
@{
    ViewData["Title"] = "Top 20 Hashtags and Image Tags";
}

<div class="text-center">
    <h1 class="display-5">Top 20 Hashtags and Image Tags</h1>
    <br />

    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table tablle-bordered">
                    <thead>
                        <tr>
                            <td><b>#</b></td>
                            <td><b>Hashtag</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int i = 0;}
                        @foreach (var item in Model.Item1)
                        {
                            i++;
                            <tr>
                                <td>@i</td>
                                <td>@item.Tag</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table tablle-bordered">
                    <thead>
                        <tr>
                            <td><b>#</b></td>
                            <td><b>Image Tag</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int j = 0;}
                        @foreach (var item in Model.Item2)
                        {
                            j++;
                            <tr>
                                <td>@j</td>
                                <td>@item.Tag</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>